<div class="container-fluid">
  <h3 class="row">Banks Info</h3>
  <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label for="pwd">Filter:</label>
          <input type="text" name="ifsc" (input)="dt.filterGlobal($event.target.value, 'contains')"  [(ngModel)]="_filter"
          class="form-control"/>
      </div>
      </div>
  </div>
  <div class="row">
      <p-table #dt [columns]="cols" [value]="bankInfo" (onFilter)="filter($event)">
          <ng-template pTemplate="header" let-columns>
            <tr style="word-wrap: break-word;">
              <th [width]="col.width" *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr style="word-wrap: break-word;">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div *ngIf="this.message !==''">{{this.message}}</div>
  </div>
</div>